@font-face {
    font-family: 'Beton Cyr';
    src: url('Uk_Beton.woff2') format('woff2'),
        url('Uk_Beton.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

